@charset "utf-8";
*, ::before, ::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
body {
  line-height: 1.8;
  color: #fff;
  text-align: center;
  opacity: 1;
  background-color: #212020;
}


a {
  color: #F14CD1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

                ul {
  list-style-type: none;
}
.container  {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}
header {
  z-index: 1;
}
.mv {
    margin-bottom: 50px;
    position: relative;
}
.mv-image img   {
    width: 100%;
    height: auto;
}


.mv-catch   {
    position: absolute;
    padding: 0 20px;
    width: 100%;
    left: 0px;
    bottom: 50px;
    text-align: right;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  display: block;
  padding: 10px 20px;
  color: #9689F0;
  text-align: center;
  line-height: 1.4;
  font-family: "Times New Roman", Times, serif;
}
#top footer .menu {
}
section {
  margin-bottom: 30px;
}
section h2 {
  height: 60px;
  line-height: 60px;
  font-size: 28px;
  text-align: center;
  color: #E8B851;
}
.box-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.box {
  width: 48%;
  margin-bottom: 50px;
}
.box figure img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.faq-box dt::before {
  content: "Q";
  background-color: #5090AF;
}
.camera img {
  max-width: 400px;
  height: auto;
}


.container .contact h2 {
}

.faq-box dd::before {
  content: "A";
  background-color: #CEB8CF;
}
.gallery .box-area   {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gotop {
  position: fixed;
  bottom: 0px;
  right: 20px;
  opacity: 0.5;
}
.gotop:hover {
  opacity: 1;
}


.gallery .box {
  width: 25%;
}

.faq-box {
  padding: 0;
  margin-bottom: 20px;
}
.video h3 {
  color: #E8B851;
}

.gallery .box-area2 {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery .box-area2 .box {
  width: 33%;
  justify-content: center;
}



.faq-box dt {
  margin-bottom: 20px;
  cursor: pointer;
}
.faq-box dt, .faq-box dd {

}
footer {
  padding: 30px 0;
}
.contact .box    {
  width: 50%;
}

.instagram p img {
  max-width: 70px;
}

h1 {
  font-size: 32px;
}


footer .menu {
  justify-content: center;
  margin-bottom: 100px;
}
.copyright {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.yoyaku {
  color: #F50206;
  font-size: large;
}
header h1 {
  flex-shrink: 0;
}
.container h1 {
  color: #615DCF;
}

.sp {
    display: none;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top:100px;
}
.annai  {
  background-position: 0% 100%;
  background-image: url(../img/hosi4.jpg);
  background-color: rgba(3,3,3,0.58);
  background-blend-mode: darken;
}
.sec1 h2   {
  text-align: center;

}
.nagare  {
  display: flex;
  justify-content: space-between;
  
}
.nagare .arow::after  {
  content: "→";
  width: 100px;
  margin-right: 0px;
}

.plan img {
  min-width: 300px;
  top: 50%;
  position: relative;
}
.nagare .arow {
  padding-top: 50px;
}
.inview {
  opacity: 0;
  transform: translateY(100px);
  transition: 2s;
}
.inview.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.spot .box-area3  {
  flex-wrap: nowrap;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  width: auto;
  font-size: smaller;
}

.spot .box-area3 .box {
  margin-right: 15px;
  margin-left: 15px;
}
cursor {
}
.toumei {
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.annai h3 {
  color: #B4894B;
}
.okinawa .box  {
  display: flex;
  justify-content: space-between;
}











@media (max-width:800px){
nav {
  position: fixed;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: #061A5F;
  transition: 0.5s;

}
nav .menu {
  display: block;
  height: 100%;
  padding-bottom: 50px;
  overflow: auto;
}
nav .menu a {
  padding: 30px 0;
  font-size: 30px;
}
header h1 {
  z-index: 1;
}
.nav-button {
  width: 70px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.nav-button span {
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 20px;
}
.menu-open nav {
  left: 0px;
}

.nav-button span:nth-child(1) {
  top: 12px;
}
.nav-button span:nth-child(2) {
  top: 24px;
}
.nav-button span:nth-child(3) {
  top: 36px;
}
.menu-open .nav-button span:nth-child(1) {
  top: 23px;
  transform: rotate(315deg);
}
.menu-open .nav-button span:nth-child(2) {
  width: 0px;
  left: 50%;
}
.menu-open .nav-button span:nth-child(3) {
  top: 23px;
  transform: rotate(-315deg);
}
.nav-button span {
  transition: 0.3s;
}

.box-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}



.box {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
.gallery .box {
  width: 100%;
}
.gallery  .box img {
  width: 100%;
}


  
.nagare  {
  display: block;


}
.spot .box-area3  {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.nagare .arow::after {
  content: "↓";
}

.nagare .arow {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.contact .box {
  width: 100%;
}
.video video {
  width: 100%;
}








}


@media (max-width:600px){
header h1 {
  line-height: 1;
}
header h1 img {
  height: 100px;
  width: auto;
}
.nav-button  {
  right: -20px;
}
html { 
}
section {
  margin-bottom: 50px;
}
section h2 {
  margin-bottom: 20px;
}
footer .menu {
  display: block;
  margin-bottom: 50px;
}
footer .menu a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mv-image img {
  height: auto;
  -o-object-fit: cover;
  width: 100%;
}
.box {
  width: 100%;
}
.box-area .box .camera   {
  text-align: center;


}
.sp {
    display: inline;
}
.pc {
  padding-right: 30px;
  padding-left: 90px;


}
.nagare {
  flex-wrap: wrap;
}
.mv-catch {

}



























}
